.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    mat-card {
        flex: 1;

        mat-card-content {
            padding-top: 1rem;
            font-size: x-large;
        }
    }
}

.transactions-chart {
    margin-top: 2rem;
    max-width: 500px;
}
