.container {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    mat-card {
        flex: 1;

        mat-card-content {
            padding-top: 1rem;
            font-size: x-large;
        }
    }
}

.monthly-transactions {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;

    .transactions-chart {
        width: clamp(200px, 50%, 500px);
    }
}
