<header>
    <h1>Dashboard</h1>
</header>

@if (isLoading()) {
    <div class="container">
        <mat-spinner></mat-spinner>
    </div>
}

<div [hidden]="isLoading()">
    <section class="cards">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total Incomes</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ totalOverview().income | currency: 'BRL' }}</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total Incomes</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ totalOverview().outcome | currency: 'BRL' }}</mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Total Incomes</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ totalOverview().total | currency: 'BRL' }}</mat-card-content>
        </mat-card>
    </section>

    <section class="monthly-transactions">
        <div class="transactions-chart">
            <mat-card>
                <mat-card-content>
                    <canvas id="canvas">{{ chart }}</canvas>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card>
            <mat-card-content>
                <button mat-stroked-button (click)="onDownloadCsv()">Download as CSV</button>
                <button mat-stroked-button (click)="onDownloadPdf()">Download as PDF</button>
            </mat-card-content>
        </mat-card>
    </section>
</div>
