.container {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    mat-card {
        flex: 1;

        mat-card-content {
            padding-top: 1rem;
            font-size: x-large;
        }
    }
}

.options {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    margin-top: 2rem;

    mat-card-content {
        margin-top: 2rem;

        button {
            margin: 0.5rem;
        }
    }
}

.transactions-chart {
    margin-top: 2rem;
    width: 100%;
    max-width: 500px;
}
